Modeling/CMR_IA/fitting/outfiles
Modeling/CMR_IA/fitting/noise_files
Modeling/CMR_IA/fitting/pso_duplicate
Modeling/CMR_IA/fitting/outfiles_backup
Modeling/CMR_IA/fitting/slurm*
.idea
.ipynb_checkpoints
*/.ipynb_checkpoints
*/.idea
*/.__pycache__